/* RESET CSS */
*{box-sizing:border-box;margin:0; padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:none}
/* html, body{height:100%} */
a{text-decoration:none}
table{border-collapse:collapse; border-spacing:0}
body,html{width:100%;height: 100%; overflow-x:hidden;background-color: #0A213D;}
ul{list-style: none;}

.slide_wrapper{ 
    width:1020px;
    margin:0 auto;
    position: relative;
    height: 100%;
    overflow: hidden;
    /* top:50%;
    margin-top:-300px; */
}
.slides{
    display: flex;
    position: absolute;
    height: 300px;
    left:0;
    top:50%;
    margin-top: -150px;
    transition: left 1s ease-out;
}
.slides li:not(:last-child){
    margin-right: 30px;
}
img{width: 320px; height:213px;border-radius: 10px;}

.btn_wrapper{padding-top:20px;position: relative;top:60%;}
.btn_wrapper .btns{display: flex;justify-content: center;}
.btn_wrapper .btns .btn{width:15px;height: 15px;border-radius: 50%;margin-right: 10px;
    background-color: #30598b; cursor: pointer; border: solid 3px #30598b; }

