/* RESET CSS */
*{box-sizing:border-box}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:none}
/* html, body{height:100%} */
a{text-decoration:none}
table{border-collapse:collapse; border-spacing:0}
body,html{width:100%;height: 100%; overflow-x:hidden;background-color: #0A213D;}
ul{list-style: none;}

.container{ 
    max-width:1100px;
    margin:0 auto;
    /* position: relative; */
    position: relative;
    top:50%;
    margin-top:-160px;
}
.container .content-box{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .content-box .carousel{width:320px;height: 100%;}
.container .content-box .carousel img{width: 320px; height:213px;border-radius: 10px;}
.container .content-box .carousel .text{display: flex;flex-direction: column;color: #fff;text-align: center; 
    align-items: center;width:100%;height:30% ;}
.container .content-box .carousel .text span:nth-child(1){font-weight:500;}
.container .content-box .carousel .text span:nth-child(2){font-weight:200;}

.container .btn-box{padding-top:20px}
.container .btn-box ul{display: flex;justify-content: center;}
.container .btn-box ul li{width:15px;height: 15px;border-radius: 50%;margin-right: 10px;background-color: #30598b;
    /* border: solid 3px #30598b; */
}
/* 
.slide_wrap { position: relative; width: 400px; margin: auto; padding-bottom: 30px; }
.slide_box { width: 100%; margin: auto; overflow-x: hidden; }
.carousel { display: table; float: left; width: 400px; height: 400px; } */

